@page "/movies"
@using Services
@inject IMovieService movieService
@inject IJSRuntime jsRuntime
<h3>Movies</h3>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped"> 
            <thead>
                <tr>
                    <th>MovieTitle</th>
                    
                    
                </tr>
            </thead>           
            <tbody>
                @foreach (var movie in movies)
                {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.ReleaseDate</td> 
                    <td>
                        <a href="/movie/edit/@movie.Id" class="btn btn-success">Edit</a>
                        <a class="btn btn-danger" @onclick="async ()=> await Delete(movie)">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<Models.Movie> movies = new();

    private async Task Delete (Models.Movie movie)
    {
        bool confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Are you sure???");
        if(confirmed)
        {
           if(movieService.Delete(movie.Id))
            {
                movies.Remove(movie);
            }

            
        }
    }
    protected override void OnInitialized()
    {
        movies = movieService.GetAll();
        base.OnInitialized();
    }
}